.main {
  min-height: 100vh;
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main>div {
  padding: 5rem 2rem;
}

.homeIntro {
  width: 100%;
  position: relative;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.aboutMe {
  text-align: center;
}

.aboutMe p {
  font-weight: 600;
}

.aboutMe p span {
  color: white;
}

.aboutMe img {
  border-radius: 50%;
}

.inverseNavbar {
  background-color: white;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.inverseNavbar a {
  color: black;
}

.inverseNavbar li a:hover {
  color: var(--main-color);
}

.inverseNavbar a::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: var(--main-color);
  transition: width ease-in-out 0.3s;
}

.inverseNavbar a:hover::after {
  width: 100%;
}

.cvSectionContainer {
  width: 100%;
}

.cvSectionContainer h1 {
  color: var(--main-color);
}

.cvSection {
  text-align: left;
  display: flex;
}

.cvSection svg {
  margin-right: 5px;
}

.cvSection h3, .cvSection h4 {
  margin: 10px 0;
}

.cvSection h4:first-of-type {
  margin-top: 1rem;
  margin-bottom: 7px;
  color: var(--main-color);
}

.homeSocial {
  margin: 14px auto;
}

.homeSocial a {
  margin: 0px 3px;
}

.slideUp {
  transform: translateY(70%);
  opacity: 0;
  transition: opacity 250ms ease-in, transform 500ms ease-out;
}

.slideUp.appear {
  transform: translateY(0);
  opacity: 1;
}

div.slidingVertical {
  display: inline;
  text-indent: 8px;
  padding: 0rem;
}

.slidingVertical span {
  animation: topToBottom 14s linear infinite 0s;
  -ms-animation: topToBottom 14s linear infinite 0s;
  -webkit-animation: topToBottom 14s linear infinite 0s;
  color: white;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}

.slidingVertical span:nth-child(2) {
  animation-delay: 2s;
  -ms-animation-delay: 2s;
  -webkit-animation-delay: 2s;
}

.slidingVertical span:nth-child(3) {
  animation-delay: 4s;
  -ms-animation-delay: 4s;
  -webkit-animation-delay: 4s;
}

.slidingVertical span:nth-child(4) {
  animation-delay: 6s;
  -ms-animation-delay: 6s;
  -webkit-animation-delay: 6s;
}

.slidingVertical span:nth-child(5) {
  animation-delay: 8s;
  -ms-animation-delay: 8s;
  -webkit-animation-delay: 8s;
}

.slidingVertical span:nth-child(6) {
  animation-delay: 10s;
  -ms-animation-delay: 10s;
  -webkit-animation-delay: 10s;
}

.slidingVertical span:nth-child(7) {
  animation-delay: 12s;
  -ms-animation-delay: 12s;
  -webkit-animation-delay: 12s;
}

/*topToBottom Animation*/
@keyframes topToBottom {
  0% {
    opacity: 0;
  }

  4% {
    opacity: 0;
    transform: translateY(-50px);
  }

  7% {
    opacity: 1;
    transform: translateY(0px);
  }

  14% {
    opacity: 1;
    transform: translateY(0px);
  }

  18% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 0;
  }
}

@media (min-width: 810px) {
  .homeIntro {
    flex-direction: row;
  }

  .cvSectionContainer {
    width: 70%;
  }

  .main>div {
    padding: 5rem 8rem;
  }

  .aboutMe {
    text-align: left;
  }
}